img {
    width: 256px;
    border-radius: 8px;
}

body {
    background-color: bisque;
}

.container {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 8px;
}

.descricao {
    font-style: italic;

}

.habilidades ul {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    list-style: none;
}